
.lognav{display: none;}
@media (max-width: 620px) and (min-width:60px) {
    .lognav{
        display: block;
        width: 100%;
        height: 100px;
        color: aliceblue;
        background-color: rgb(154, 31, 31);
    }
    .lognav .row1{
        display: flex;
        height: 70%;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }
    .lognav .row1 a{
        color: aliceblue;
    }
    .lognav .row1 p{
        color: aliceblue;
        width: 80%;
        text-align: center;
        font-size: 1.5rem;
    }
    .lognav .row2{
        display: flex;
       
        align-items: center;
      
        height: 30%;
        
    }
    .lognav .row2 p{
        width: 100%;
        text-align: center;
        font-size: 0.7rem;
        position: absolute;
        top: 50px;
        color: rgb(253, 253, 252);
        }
    
     .details{
        display: block;
        height: 400px;
        position: relative;
        top: -30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgb(236, 231, 224);
        padding: 10px;
       
     }
     .mobile{
        display: grid;
        height: 25%;
        grid-template-columns: 80% 20%;
        background-color: rgb(214, 225, 225);
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        align-items: center;
        padding: 0 20px;
     }
     .mob{
        display: block;
        width: 90%;
     }
     .mobile-logo{
        position: absolute;
        top: -3px;
        font-size: 0.9rem;
     }
     .num{
        font-size: 1.2rem;
        background-color: transparent;
        position: absolute;
        top: 5px;
     }
     .num input{
        font-size: 1.2rem;
       border: none;
       outline: none;
       background-color: transparent;
       
     }
     .pass-span{
        display: inline-block;
        position: relative;
        top: 25px;
       
     }
     .pass{
        border: none;
        outline: none;
        border-radius: 10px;
        height: 20px;
     }
     .num input:focus::placeholder{
        color: transparent;
        border: none;
        outline: none;
     }
     .xicon{
        display: none;
     }
     .xicon.sho{
        display: block;
        font-size: 1.7rem;
        position: relative;
        top: 5px;
        left: 50px;
     }
     .checkb{
        display: flex;
        flex-direction: row;
     }
     .submitd #submitd{
        border-radius: 5px;
        border: none;
        background-color: azure;
        width: 100%;
        height: 40px;
     }
 
.term{
    display: block;
    text-align: center;
    font-size: 0.9rem;
}
.row5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cod-otlog{
    display: inline-block;
   text-decoration: none;
text-align: center;
border-bottom: 2px dotted black;
   

}
.vart-line{
    display: inline-block;
    width: 0.5px;
    height: 20px;
    background-color:black;
    margin: 0 10px;
}

}
